<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="To do list web app">
    <title>ToDo</title>
    <%- include('layouts/static') -%>
    <link rel="stylesheet" href="/assets/stylesheets/todo.css">
</head>

<body>
    <%- include('layouts/head') -%>
    <div class="container content">
        <div class="row justify-content-center">
            <div class="col-8 p-2 text-center">
                <div class="rounded shadow p-2 text-white text-center">
                    <h3 class="bg-blue rounded shadow p-1 m-1">Todo History</h3>
                    <% (Object.values(todos).reverse()).forEach(todo => { 
                if( (typeof(todo.title) == "undefined" ) || (typeof(todo.done) != "undefined" && !todo.done)){
                return; 
             } %>
                    <div class="bg-blue border rounded shadow p-1 m-2 list">
                        <details>
                            <summary class="p-1"><%= todo.title %><a href="/todo/<%= Number(todo.id) %>"
                                    class="show btn btn-dark btn-sm">Show</a></summary>
                            <p class="para h5 p-2">DeadLine: <%= todo.deadline %></p>
                        </details>
                    </div>
                    <% }) %>
                </div>
            </div>
            <%- include('layouts/social') -%>
        </div>
    </div>
    <%- include('layouts/foot') -%>
    <script src="/assets/js/script.js"></script>
    <script src="/assets/js/todo.js"></script>
</body>

</html>