<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="To do list web app">
    <title>ToDo</title>
    <%- include('layouts/static') -%>
    <link rel="stylesheet" href="/assets/stylesheets/todo.css">
</head>

<body>
    <%- include('layouts/head') -%>
    <div class="container content">
        <div class="row justify-content-center">
            <div class="col-8 bg-dark rounded shadow mt-3 p-2 text-white text-center">
                <h1 class="border bg-primary rounded shadow p-1 text-dark text-center">Todo List</h1>
                <% (Object.values(todos).reverse()).forEach(todo => { 
                if( (typeof(todo.title) == "undefined" ) || (typeof(todo.done) != "undefined" && !todo.done)){
                return; 
             } %>
                <div class="border rounded shadow p-2 m-3">
                    <a href="/todo/<%= Number(todo.id) %>" style="text-decoration: none;">
                        <h3 class="bg-white text-dark rounded"><%= todo.title %> </h3>
                        <h6 class="text-white"><%= todo.deadline %> </h6>
                    </a>
                </div>
                <% }) %>
            </div>
        </div>
    </div>
    <%- include('layouts/foot') -%>
    <script src="/assets/js/todo.js"></script>
</body>

</html>