<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="To do list web app">
    <title>ToDo</title>
    <%- include('layouts/static') -%>
</head>

<body>
    <%- include('layouts/head') -%>
    <div class="container content">
        <div class="row justify-content-center">
            <% if (data && data.id) { %>
            <div class="col-9 bg-dark rounded shadow m-2 p-2 text-white">
                <ul>
                    <li>ID: <%= data.id %> </li>
                    <li>Title: <%= data.title %> </li>
                    <li>Tasks:
                        <ol>
                            <% data.tasks.forEach(task => { %>
                            <li><%= task %> </li>
                            <% }) %>
                        </ol>
                    </li>
                </ul>
            </div>
            <% } %>
        </div>
    </div>
    <%- include('layouts/foot') -%>
</body>

</html>